<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="header_container">
        <div class="header_box">
            <img style="margin-left: 10px;" src="../assets/img/logo.png" alt="">
        </div>
        
        <div class="header_box">

            <a href="../register/login.html">
                <img style="padding-top: 20px; margin-right: 10px;" src="../assets/img/svg's/user.svg" alt="">
            </a>

        </div>
    </div>



    <div class="navigation_container">
        <div class="navigation_box">
            <a class="navigation_link col" href="#">
                Пицца
            </a>
            <a class="navigation_link" href="#">
                Соусы
            </a>
            <a class="navigation_link" href="#">
                Напитки
            </a>
            <a class="navigation_link" href="#">
                Акции
            </a>
        </div>
    </div>



    <div class="main_container">
        <div class="main_box">
            <img src="../assets/img/index/1.png" width="93px" height="88px" alt="">
            <div class="main_inside_content" >
                <h1>
                    Пицца Кольяри
                </h1>
                <p>
                    Состав: курица, <br> перец, грибы, маслины
                </p>
                <button>
                    580 ₽
                </button>
                <button style="width: 19px; height: 19px; border-radius: 50%; background-color: #E12624;">
                    <svg style="margin-left: -1px;" width="10px" height="10px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="#e8e8e8" d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/>
                    </svg>
                </button>
            </div>
        </div>



        <div class="main_box">
            <img src="../assets/img/index/2.png" width="93px" height="88px" alt="">
            <div class="main_inside_content">
                <h1>
                    Пицца Кольяри
                </h1>
                <p>
                    Состав: курица, <br> перец, грибы, маслины
                </p>
                <button>
                    580 ₽
                </button>
                <button style="width: 19px; height: 19px; border-radius: 50%; background-color: #E12624;">
                    <svg style="margin-left: -1px;" width="10px" height="10px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="#e8e8e8" d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="main_box">
            <img src="../assets/img/index/3.png" width="93px" height="88px" alt="">
            <div class="main_inside_content">
                <h1>
                    Пицца Пепперони
                </h1>
                <p>
                    Состав: салями, сыр, <br> томатный соус
                </p>
                <button>
                    550 ₽
                </button>
                <button style="width: 19px; height: 19px; border-radius: 50%; background-color: #E12624;">
                    <svg style="margin-left: -1px;" width="10px" height="10px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="#e8e8e8" d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="main_box">
            <img src="../assets/img/index/4.png" width="93px" height="88px" alt="">
            <div class="main_inside_content">
                <h1>
                    Пицца Элеонора
                </h1>
                <p>
                    Состав: сёмга, сыр, <br> картофель, лук
                </p>
                <button>
                    580 ₽
                </button>
                <button style="width: 19px; height: 19px; border-radius: 50%; background-color: #E12624;">
                    <svg style="margin-left: -1px;" width="10px" height="10px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="#e8e8e8" d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
<br>
    <div class="manager_button">
        <button style="margin-top: -10px;">
            Добавить блюдо
        </button>
    </div>
    <br>
    <footer style="margin-top: -10px;" class="footer_header">
        <footer class="footer_container">
            <div class="footer_box">
                <p>
                    Доставка осуществляется <br> с 10:00 до 23:00 <br>
                    без выходных 
                </p>
            </div>
            <div class="footer_box">
                <p>
                    +7(982)335-07-94 <br>
                    liaphol@gmail.com
                </p>
            </div>
            <div class="footer_box">
                <p class="copy">Наш адрес: Ханты-Мансийск, ул. Чехова д. 16</p>
            </div>
        </footer>
        
    </footer>
    
</body>
</html>